# 텍스트 파일 읽기와 쓰기

- w : 쓰기

- r : 읽기

- a : 추가하기

- 데이터의 일부만 제거하거나 변경하는 것이 쉽지 않음

In [1]:
#105
#새로운 파일 생성, 한 줄에 쉼표 다섯 개로 구분된 숫자 추가

f = open("Numbers.txt", "w")
f.write('4, ')
f.write('6, ')
f.write('10, ')
f.write('8, ')
f.write('5, ')
f.close()

In [2]:
#106
#다섯 명의 이름을 한 줄에 하나씩 문서에 추가

f = open("Names.txt", "w")
f.write("Bob\n")
f.write("Tom\n")
f.write("Gemma\n")
f.write("Sarah\n")
f.write("Timothy\n")
f.close()

In [3]:
#107
f = open("Names.txt", "r")
print(f.read())
f.close()

Bob
Tom
Gemma
Sarah
Timothy