# 2차원 리스트와 딕셔너리

In [1]:
#96
#2차원 리스트로 다음의 데이터 생성

simple_array = [[2, 5, 8],
               [3, 7, 4],
               [1, 6, 9],
               [4, 2, 0]]

print(simple_array)

[[2, 5, 8], [3, 7, 4], [1, 6, 9], [4, 2, 0]]

In [2]:
#97
#사용자에게 행과 열 선택하라 요청, 2차원 리스트 이용해 해당 값 출력
simple_array = [[2, 5, 8],
               [3, 7, 4],
               [1, 6, 9],
               [4, 2, 0]]
user_row = int(input("행을 선택하세요: "))
user_col = int(input("열을 선택하세요: "))

print(simple_array[user_row][user_col])

행을 선택하세요: 2
열을 선택하세요: 2
9

In [7]:
#98
#사용자에게 표시할 행선택하라 요청 --> 출력, 새로운 값 입력하라 요청, 그것을 표시한 행에 추가하고 그 행 다시 출력하기
simple_list = [[2, 5, 8], [3, 7, 4],[1, 6, 9], [4, 2, 0]]
user_row = int(input("행을 선택하세요: "))
print(simple_list[user_row])

new_value = int(input("새로운 값을 입력하세요: "))
simple_list[user_row].append(new_value)
print(simple_list[user_row])

행을 선택하세요: 1
[3, 7, 4]
새로운 값을 입력하세요: 4
[3, 7, 4, 4]

In [10]:
#99
simple_list = [[2, 5, 8], [3, 7, 4],[1, 6, 9], [4, 2, 0]]
print(simple_list)

user_row = int(input("Select a row: "))
print(simple_list[user_row])

user_col = int(input("Select a column: "))
print(simple_list[user_row][user_col])

change = input("Do you want to change this value? (y/n): ")
if change == 'y':
    new_value = int(input("Enter a new value: "))
    simple_list[user_row][user_col] = new_value
    
print(simple_list[user_row])

[[2, 5, 8], [3, 7, 4], [1, 6, 9], [4, 2, 0]]
Select a row: 1
[3, 7, 4]
Select a column: 0
3
Do you want to change this value? (y/n): y
Enter a new value: 9
[9, 7, 4]

In [13]:
#100
#2차원 딕셔너리 사용하기
sales_data = {'John': {'N': 3056, 'S': 8463, 'E': 8441, 'W': 2694},
        'Tom': {'N': 4832, 'S': 6786, 'E': 4737, 'W': 3612},
       'Anne': {'N': 5239, 'S': 4802, 'E': 5820, 'W': 1859},
       'Fiona': {'N': 3904, 'S': 3645, 'E': 8821, 'W': 2451}}

print(sales_data)

{'John': {'N': 3056, 'S': 8463, 'E': 8441, 'W': 2694}, 'Tom': {'N': 4832, 'S': 6786, 'E': 4737, 'W': 3612}, 'Anne': {'N': 5239, 'S': 4802, 'E': 5820, 'W': 1859}, 'Fiona': {'N': 3904, 'S': 3645, 'E': 8821, 'W': 2451}}

In [16]:
#101
sales_data = {'John': {'N': 3056, 'S': 8463, 'E': 8441, 'W': 2694},
        'Tom': {'N': 4832, 'S': 6786, 'E': 4737, 'W': 3612},
       'Anne': {'N': 5239, 'S': 4802, 'E': 5820, 'W': 1859},
       'Fiona': {'N': 3904, 'S': 3645, 'E': 8821, 'W': 2451}}
print(sales_data)

name = input("Enter a name: ")
region = input("Enter a region: ")
print(sales_data[name][region])

changedata = int(input("Enter the sales data you want to change: "))

sales_data[name][region] = changedata
print(sales_data[name])

{'John': {'N': 3056, 'S': 8463, 'E': 8441, 'W': 2694}, 'Tom': {'N': 4832, 'S': 6786, 'E': 4737, 'W': 3612}, 'Anne': {'N': 5239, 'S': 4802, 'E': 5820, 'W': 1859}, 'Fiona': {'N': 3904, 'S': 3645, 'E': 8821, 'W': 2451}}
Enter a name: Tom
Enter a region: S
6786
Enter the sales data you want to change: 4012
{'N': 4832, 'S': 4012, 'E': 4737, 'W': 3612}

In [17]:
#102
shoesdata = {}
for i in range(4):
    name = input("Enter a name: ")
    age = int(input("Enter a age: "))
    size = int(input("Enter a size of shoes: "))
    shoesdata[name] = {'Age': age, 'Size': size}
print(shoesdata)

username = input("Enter a name: ")
print(shoesdata[username])

Enter a name: John
Enter a age: 19
Enter a size of shoes: 275
Enter a name: Elvis
Enter a age: 22
Enter a size of shoes: 265
Enter a name: Amel
Enter a age: 24
Enter a size of shoes: 235
Enter a name: Julia
Enter a age: 13
Enter a size of shoes: 220
{'John': {'Age': 19, 'Size': 275}, 'Elvis': {'Age': 22, 'Size': 265}, 'Amel': {'Age': 24, 'Size': 235}, 'Julia': {'Age': 13, 'Size': 220}}
Enter a name: Elvis
{'Age': 22, 'Size': 265}

In [18]:
#103
shoesdata = {}
for i in range(4):
    name = input("Enter a name: ")
    age = int(input("Enter a age: "))
    size = int(input("Enter a size of shoes: "))
    shoesdata[name] = {'Age': age, 'Size': size}

for name in shoesdata:
    print(name, shoesdata[name]['Age'])

Enter a name: John
Enter a age: 19
Enter a size of shoes: 275
Enter a name: Elvis
Enter a age: 22
Enter a size of shoes: 265
Enter a name: Amel
Enter a age: 24
Enter a size of shoes: 235
Enter a name: Julia
Enter a age: 13
Enter a size of shoes: 220
John 19
Elvis 22
Amel 24
Julia 13

In [20]:
#104
shoesdata = {}
for i in range(4):
    name = input("Enter a name: ")
    age = int(input("Enter a age: "))
    size = int(input("Enter a size of shoes: "))
    shoesdata[name] = {'Age': age, 'Size': size}

delname = input("Enter a name want to delete: ")
del shoesdata[delname]

for name in shoesdata:
    print(name, shoesdata[name]["Age"], shoesdata[name]["Size"])

Enter a name: John
Enter a age: 19
Enter a size of shoes: 275
Enter a name: Elvis
Enter a age: 22
Enter a size of shoes: 265
Enter a name: Amel
Enter a age: 24
Enter a size of shoes: 235
Enter a name: Julia
Enter a age: 13
Enter a size of shoes: 220
Enter a name want to delete: Elvis
John 19 275
Amel 24 235
Julia 13 220